name: verify

on: push

jobs:
  verify:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v1

    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.11' # バージョンを明示的に指定

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install setuptools
        pip3 install -U git+https://github.com/Kazun1998/verification-helper.git

    - name: Run tests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        YUKICODER_TOKEN: ${{ secrets.YUKICODER_TOKEN }}
        GH_PAT: ${{ secrets.GH_PAT }}
      run: oj-verify run
